*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: Arial;
}

body{
  background: linear-gradient(90deg, #1f1f1f, #111111);
}
h1{
  margin: 1vh auto;
  text-align: center;
  color:white;
}